#pic_wechat022{background-image:url(http://jabizb.com/read/fm/20180731.png);}
#pic_wechat023{background-image:url(http://jabizb.com/read/fm/20180809.png);}
#pic_wechat024{background-image:url(http://jabizb.com/read/fm/20180823.png);}
#pic_wechat025{background-image:url(http://jabizb.com/read/fm/20180908.png);}
#pic_wechat026{background-image:url(http://jabizb.com/read/fm/20180918.png);}
#pic_wechat027{background-image:url(http://jabizb.com/read/fm/20181006.png);}

#pic_play037{background-image:url(http://jabizb.com/read/fm/20180803.png);}
#pic_play038{background-image:url(http://jabizb.com/read/fm/20180804.png);}
#pic_play039{background-image:url(http://jabizb.com/read/fm/20180807.png);}
#pic_play040{background-image:url(http://jabizb.com/read/fm/20180810.png);}
#pic_play041{background-image:url(http://jabizb.com/read/fm/20180827.png);}
#pic_play042{background-image:url(http://jabizb.com/read/fm/20180910.png);}
#pic_play043{background-image:url(http://jabizb.com/read/fm/20180920.png);}
#pic_play044{background-image:url(http://jabizb.com/read/fm/20180929.png);}
#pic_play045{background-image:url(https://pic3.zhimg.com/80/v2-5154ad6bf6d9529f402e250e75d49c29_hd.jpg);}
